# Dependencies
node_modules/

# Build output
dist/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing & Coverage
coverage/
.nyc_output/

# Environment files
.env
.env.production
.env.development
.env.local
.env.*.local

# IDE & OS
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.DS_Store
.DS_Store?
._*
Thumbs.db

# Local / Draft Docs
.docs/
.doc/
.notes/

